body {
    background: url("/images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto';
    color: white;
    font-weight: 400;
}
a {
    color: white;
    text-decoration: none;
}
.container {
    width: 1030px;
    margin-left: auto;
    margin-right: auto;
    margin-block: 51px 15px;
}
.space-between {
    display: flex;
    justify-content: space-between;

}
.start {
    display: flex;
}
.before-img {
    width: 53px;
    height: 47px;
    background-image: url("/images/logo.png");
}
.start:hover .before-img {
    background-image:   url("/images/before-logo.png");
    transition: 0.8s;
}
.start:hover a {
    color: #F26522;
    transition: 0.8s;
}
.milan {
    font-size: 29px;
    line-height: 29px;
}
.holidays {
    font-size: 18px;
    line-height: 18px;
}
.other {
    margin-top: 3px;
    font-weight: 700;
    margin-left: 8px;
}
.end {
    display: flex;
    flex-direction: column;
}
.email:hover{
    color: #F26522;
    transition: 0.8s;
}
.tel:hover{
    color: #F26522;
    transition: 0.8s;
}
.tel {
    position: relative;
    left: 65px;
}
.box {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(2, 200px);
    gap: 78px 61px;
}
.grid-box-1 {
    margin-top: 37px;
}
.grid-box-2 {
    margin-top: 37px;
}
.grid-box-3 {
    margin-top: 37px;
}
.grid-box-4 {
    margin-top: 37px;
}
.grid-box-5 {
    margin-top: 37px;
}
.grid-box-6 {
    margin-top: 37px;
}
.txt-margin {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.grid-box:hover {
    color: #F26522;
}
.fatal {
    margin-top: 12px;
    display: flex;
    justify-content: center;
}
.foo {
    margin-top: 126px;
    display: flex;
    justify-content: center;
}
.hover {
    position: relative;
}
.overlay {
    position: absolute;
    width: 298px;
    margin-left: 1px;
    height: 55px;
    top: 218px;
    left: 0;
    background-color: #F26522;
    opacity: 0;
    transition: 0.2s;
    font-weight: 400;
}
.hover:hover .overlay {
    top: 163px;
    opacity: 1;
}
.from {
    margin-top: 7px;
    font-size: 10px;
    line-height: 10px;
}
.euro {
    font-size: 20px;
    line-height: 20px;
    margin-top: 9px;
}
.after {
    font-size: 14px;
    line-height: 14px;
    margin-right: 30px;
    margin-top: 29px;
}
.after::after {
    content: url("/images/Vector.png");
    padding-left: 16px;
}
.cost {
    margin-left: 16px;
}
.between {
    display: flex;
    justify-content: space-between;
}












